# Eclipse
*.class
*.log
.settings/
*.project
*.classpath
*.launch
.metadata/
bin/
tmp/

# Tomcat
**/work/
**/temp/
**/logs/
**/conf/Catalina/
**/conf/context.xml

# Dependências do Maven (se houver)
target/

# Arquivos de compilação
*.war
*.jar
*.ear

# Diretórios de build
build/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de backup de edição
*~
